body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

.problem {
    width: 45%;
    background-color: #f0f0f0;
    padding: 10px;
    margin-left: 10px;
    border-radius: 10px;
}

.correct {
    color: red;
}

.incorrect {
    color: blue;
}

.answer {
    width: 45%;
    background-color: #f0f0f0;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
}

h1 {
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    height: 20px;
}

.opebox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
}

.ope1,
.ope2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
}

.ope1button,
.ope2button {
    width: 60px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}


.ope1button:hover,
.ope2button:hover {
    background-color: #e0e0e0;
}

#decide {
    display: block;
    width: 5%;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: orangered;
    color: white;
    font-size: 15px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

#decide:hover {
    background-color: orange;
}

#update {
    border: none;
    /* 枠線をなくす */
    border-radius: 5px;
    /* 角丸をつける */
    padding: 10px 15px;
    /* ボタンの内側の余白 */
    background-color: #5a9430;
    /* ボタンの背景色 */
    color: white;
    /* ボタンの文字色 */
    text-align: center;
    /* ボタンのテキストを中央揃えにする */
    font-size: 15px;
    /* テキストのフォントサイズ */
    cursor: pointer;
    /* マウスポインタを変更する */
    transition: background-color 0.3s;
    /* 0.3s掛けて色を変える */
}

#update:hover {
    background-color: rgb(156, 224, 156);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5%
}

table th,
table td {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}